In [2]:
import datetime
import pandas as pd

Exercicio 1

In [4]:
df = pd.DataFrame({'data': ['2022-03-25', '2023-01-01', '2024-07-15']})

In [9]:
df['data'] = pd.to_datetime(df['data'])
df

        data
0 2022-03-25
1 2023-01-01
2 2024-07-15

Exercicio 2

In [14]:
df = pd.DataFrame({'data': ['2022-03-25', '2023-01-01', '2024-07-15']})

In [16]:
df['data'] = pd.to_datetime(df['data'])
df['Ano'] = df['data'].dt.year
df['Mês'] = df['data'].dt.month
df['Dia'] = df['data'].dt.day
df

        data   Ano  Mês  Dia
0 2022-03-25  2022    3   25
1 2023-01-01  2023    1    1
2 2024-07-15  2024    7   15

Exercicio 3

In [17]:
df = pd.DataFrame({'data': ['2022-03-25', '2023-01-01', '2024-07-15']})

In [18]:
df[df['data'] > '2023-01-01']

         data
2  2024-07-15

Exercicio 4

In [19]:
df = pd.DataFrame({'data_inicio': ['2023-01-01', '2023-05-10'], 'data_fim': ['2023-02-01', '2023-05-15']})
df

  data_inicio    data_fim
0  2023-01-01  2023-02-01
1  2023-05-10  2023-05-15

In [21]:
df['data_fim'] = pd.to_datetime(df['data_fim'])
df['data_inicio'] = pd.to_datetime(df['data_inicio'])
df['diferenca'] = (df['data_fim'] - df['data_inicio']).dt.days
df

  data_inicio   data_fim  diferenca
0  2023-01-01 2023-02-01         31
1  2023-05-10 2023-05-15          5

5. Verificar se a Data é Fim de Semana

In [22]:
df = pd.DataFrame({'data': ['2023-01-01', '2023-05-10', '2023-06-17']})

In [28]:
df['data'] = pd.to_datetime(df['data'])
df['fim_de_semana'] = df['data'].dt.weekday >= 5
df

        data  fim_de_semana
0 2023-01-01           True
1 2023-05-10          False
2 2023-06-17           True

7. Encontrar a Data Mais Recente

In [4]:
df = pd.DataFrame({'data': ['2022-03-25', '2023-01-01', '2024-07-15']})
df['data'].max()

'2024-07-15'

8. Calcular o Mês Anterior

In [6]:
df = pd.DataFrame({'data': ['2023-03-25', '2023-05-10', '2023-06-17']})

In [9]:
df['data'] = pd.to_datetime(df['data'])
df['mes_anterior'] = (df['data'] - pd.DateOffset(months=1)).apply(lambda x: x.replace(day=1))
df['mes_anterior']

0   2023-02-01
1   2023-04-01
2   2023-05-01
Name: mes_anterior, dtype: datetime64[ns]

9. Comparar Datas (Antes/Depois)

In [18]:
df = pd.DataFrame({'data': ['2022-03-25', '2023-01-01', '2024-07-15']})

In [21]:
df['antes_de_2023'] = df['data'] < '2023-01-01'
df

         data  antes_de_2023
0  2022-03-25           True
1  2023-01-01          False
2  2024-07-15          False

10. Resumo de Datas por Mês

In [22]:
df = pd.DataFrame({'data': ['2023-01-15', '2023-01-25', '2023-02-10', '2023-03-01', '2023-03-25']})

In [25]:
df['data'] = pd.to_datetime(df['data'])
df.groupby(df['data'].dt.to_period('M')).size()

data
2023-01    2
2023-02    1
2023-03    2
Freq: M, dtype: int64