In [1]:
import pandas as pd

Exercício 1

In [4]:
df1 = pd.DataFrame({'Categoria': ['A', 'B', 'A', 'C', 'B', 'C', 'A'],  
                   'Valor': [10, 20, 30, 40, 50, 60, 70]})

In [7]:
df1.groupby('Categoria')['Valor'].count()

Categoria
A    3
B    2
C    2
Name: Valor, dtype: int64

Exercício 2

In [8]:
df1.groupby('Categoria')['Valor'].sum()

Categoria
A    110
B     70
C    100
Name: Valor, dtype: int64

Exercício 3

In [9]:
df1.groupby('Categoria')['Valor'].mean()

Categoria
A    36.666667
B    35.000000
C    50.000000
Name: Valor, dtype: float64

Exercício 4

In [12]:
df2 = pd.DataFrame({'Departamento': ['TI', 'RH', 'TI', 'Vendas', 'RH', 'TI'],  
                   'Salario': [5000, 4000, 7000, 3000, 4500, 6000]})

In [13]:
df2.groupby('Departamento')['Salario'].max()

Departamento
RH        4500
TI        7000
Vendas    3000
Name: Salario, dtype: int64

Exercício 5

In [16]:
df2.groupby('Departamento', as_index=False)['Salario'].agg(['mean', 'max'])

  Departamento    mean   max
0           RH  4250.0  4500
1           TI  6000.0  7000
2       Vendas  3000.0  3000

Exercício 6

In [17]:
df3 = pd.DataFrame({'Turma': ['A', 'B', 'A', 'C', 'B', 'C', 'A'],  
                   'Aluno': ['Ana', 'Bruno', 'Carlos', 'Daniel', 'Elena', 'Felipe', 'Gabriela']})

In [18]:
df3.groupby('Turma')['Aluno'].apply(list)

Turma
A    [Ana, Carlos, Gabriela]
B             [Bruno, Elena]
C           [Daniel, Felipe]
Name: Aluno, dtype: object

Exercício 7

In [19]:
df4 = pd.DataFrame({'Setor': ['Financeiro', 'TI', 'RH', 'TI', 'Vendas', 'Financeiro', 'TI'],  
                   'Funcionarios': [10, 20, 5, 30, 15, 25, 50]})

In [24]:
## 1
r = df4.groupby('Setor', as_index=False)['Funcionarios'].sum()
r[r['Funcionarios'] > 20]

## 2
r2 = df4.groupby('Setor')['Funcionarios'].sum().loc[lambda x: x > 20]
r2

Setor
Financeiro     35
TI            100
Name: Funcionarios, dtype: int64

Exercicio 8

In [27]:
df5 = pd.DataFrame({'Cidade': ['SP', 'RJ', 'SP', 'MG', 'RJ', 'MG', 'SP'],  
                   'Bairro': ['Centro', 'Copacabana', 'Vila Madalena', 'Savassi', 'Barra', 'Lourdes', 'Moema']})

In [28]:
df5.groupby('Cidade')['Bairro'].nunique()

Cidade
MG    2
RJ    2
SP    3
Name: Bairro, dtype: int64

Exercicio 9

In [30]:
df6 = pd.DataFrame({'Produto': ['A', 'B', 'A', 'C', 'B', 'C', 'A'],  
                   'Vendas': [100, 200, 300, 400, 500, 600, 700]})

In [31]:
df6.groupby('Produto')['Vendas'].sum()/sum(df6['Vendas'])

Produto
A    0.392857
B    0.250000
C    0.357143
Name: Vendas, dtype: float64

Exercicio10

In [33]:
df7 = pd.DataFrame({'Loja': ['X', 'Y', 'X', 'Z', 'Y', 'Z', 'X'],  
                   'Ano': [2021, 2022, 2020, 2023, 2021, 2022, 2019],  
                   'Faturamento': [50000, 60000, 45000, 70000, 55000, 65000, 40000]})

In [35]:
df7.groupby('Loja').agg({'Ano': ['min','max'], 'Faturamento':['first','last']})

       Ano       Faturamento
       min   max       first   last
Loja
X     2019  2021       50000  40000
Y     2021  2022       60000  55000
Z     2022  2023       70000  65000